@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 add-bold">Welcome!</h1>
    <p>Hello! This is a tool for new players to figure out what class they want to play!
        Or if you're a returning player, you can answer the questions to find which class fits you're desired playstyle. 
        Learn more about the classes available and much more at <a href="https://www.dndbeyond.com/"> www.dndbeyond.com</a>.
    </p>
</div>

