html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body {
    margin-bottom: 60px;
    background-image: url('/Content/dragons.jpg');
    background-size: cover;
    color:aliceblue;
    font-weight: bold;
}

.background-containter {
    background-image: url('/Content/bg2.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.color-container{
    color: aliceblue;
}
