@model IEnumerable<Classes>

<h2>Classes</h2>

<div style="display: block">
    <a href="/Classes/InsertClass/">Create a New Class</a>
</div>

<table class="table">
    <tr>
        <th>ClassID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>

    @foreach (var classes in @Model)
    {
        <tr>
            <td><a href=/Classes/ViewClass/@classes.ClassID>@classes.ClassID</td>
            <td>@classes.Name</td>
            <td>@classes.Role</td>           
        </tr>
    }

</table>