@model Classes

<h2>Create a New Class </h2>

@using (Html.BeginForm("InsertProductToDatabase", "Product", "Post"))
{
    <input asp-for="ClassID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Role" class="control-label">Role</label>
    <input type="text" step="0.01" name="Role" class="form-control" />

    
    <input type="submit" value="Create Product" class="btn btn-primary" />
}
