@model Classes

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateClassToDatabase", "Class", "Post"))
{
    <input asp-for="ClassID" type="hidden" value="@Model.ClassID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="Role" class="control-label">Role</label>    
    <input type="number" step="0.01" name="Price" class="form-control" value="@Model.Role" />

    <input type="submit" value="Update Class" class="btn btn-primary" />
}