@model Classes

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ClassID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>@Model.ClassID</td>
        <td>@Model.Name</td>
        <td>@Model.Role</td>   
    </tr>

    <div style="display: block">
    <a href="/Classes/UpdateClass/@Model.ClassID">Update this Class</a>
</div>
